<h1 class= "d-flex justify-content-center">Editar comentario</h1>
<%= render "form", comment: @comment %>
<br>
<div>
  <%= link_to "Ver comentario", @comment, :class=>"btn bottom" %> |
  <%= link_to "Regresar a comentarios", comments_path, :class=>"btn bottom" %>
</div>
