<div id="<%= dom_id aventure %>">
  <p>
    <strong>Título:</strong>
    <%= aventure.title %>
  </p>
  <p>
    <strong>Descripción:</strong>
    <%= aventure.description %>
  </p>
  <p>
    <strong>Imagen:</strong>
    <%= aventure.image %>
  </p>
</div>
