<h1 class= "d-flex justify-content-center">Editar aventura</h1>
<%= render "form", aventure: @aventure %>
<br>
<div>
  <%= link_to "Ver la aventura", @aventure %>
  <%= link_to "Regresar a aventuras", aventures_path %>
</div>
