<p style="color: green"><%= notice %></p>
<div class= "d-flex justify-content-center">
  <h1 class= "h1">Crazy 4 Cats</h1>
</div>
<div class= "d-flex justify-content-center">
  <h3>Súmate a esta aventura gatuna</h3>
</div>
<div id="aventures" class="d-flex flex-wrap">
  <div id="aventures" class="d-flex flex-wrap">
    <% @aventures.each do |aventure| %>
      <div class="col-md-4 mb-4">
        <%= render aventure %>
      </div>
    <% end %>
  </div>
