<h1 class= "d-flex justify-content-center">Comienza una nueva aventura</h1>
<%= render "form", aventure: @aventure %>
<br>
<div>
  <%= link_to "Regresar a aventuras", aventures_path, :class=>"btn bottom" %>
</div>
